<%
    var menuMap = new Map();
    menuMap.set("Home", "首页");
    menuMap.set("Tags", "标签");
    menuMap.set("Categories", "分类");
    menuMap.set("Archives", "归档");
    menuMap.set("About", "关于");
    menuMap.set("Contact", "留言板");
    menuMap.set("Friends", "友情链接");
%>
<header class="header <% if(!theme.color_scheme.common.headerMenuTransparent) { %>header-bg-color<% } %>" id="navHeader"
  style="position: fixed;
  left: 0; top: 0; z-index: 10;width: 100%;"
>
  <div class="header-content">
    <div class="bars">
      <%- partial('_partial/drawer') %>
    </div>
    <div class="blog-title" id="author-avatar">
      <% if(theme.logo) { %>
        <div class="avatar">
          <img src="<%- url_for(theme.logo) %>" alt="logo">
        </div>
      <% }%>
      <!-- a href="<%- url_for() %>" class="logo"><%= config.title %></a -->
      <a href="/" class="logo"><%= config.title %></a>
    </div>
    <nav class="navbar">
      <ul class="menu">
        <% Object.keys(theme.menu).forEach(function(key) { %>
          <li class="menu-item" style="position: relative;">
            <% if(!theme.menu[key].children) { %>
              <a href="<%- url_for(theme.menu[key].url) %>" class="menu-item-link">
                <% if (theme.menu[key].icon && theme.menu[key].icon.length > 0) { %>
                  <i class="<%- theme.menu[key].icon %>" aria-hidden="true"></i>
                <% } %>
                <span class="name"><%- (config.language === 'zh-CN' && menuMap.has(key)) ? menuMap.get(key) : key %></span>
              </a>
            <% } else { %>
              <a href="javascript:;" class="menu-item-link">
                <% if (theme.menu[key].icon && theme.menu[key].icon.length > 0) { %>
                  <i class="<%- theme.menu[key].icon %>"></i>
                <% } %>
                <span class="name"><%- (config.language === 'zh-CN' && menuMap.has(key)) ? menuMap.get(key) : key %></span>
                <i class="fa fa-chevron-down arrow" aria-hidden="true"></i>
              </a>
              <ul class="sub-menu">
                <% for(let childrenLink of theme.menu[key].children){ %>
                <li>
                  <a href="<%- url_for(childrenLink.url)%>">
                    <% if (childrenLink.icon && childrenLink.icon.length > 0) { %>
                    <i class="<%- childrenLink.icon %>" style="margin-top: -20px;"></i>
                    <% } %>
                    <span><%- childrenLink.name %></span>
                  </a>
                </li>
                <% } %>
              </ul>
            <% } %>
          </li>
        <% }); %>
      </ul>
      <% if(theme.dark.on === true) { %>
        <%- partial('_partial/dark') %>
        <% } %>
      <% if(theme.search.on === true) { %>
        <%- partial('_partial/search') %>
      <% } %>

    </nav>
  </div>
  

    <!-- 当头部导航设置为背景透明的时候  -->
    <% if(theme.color_scheme.common.headerMenuTransparent) { %>
      <script src="<%- url_for('/js/header/index.js') %>"></script>
    <% } %>
</header>